.d-flex{
    padding: 10px;
}

.d-flex:hover{
    background-color: rgba(0, 0, 255, 0.441);
    cursor: pointer;
}
a{
    text-decoration: none;
    color:black;
}

.main{
    height: 100vh;
    width: 180px;
}
.active-link{
    background-color: rgba(0, 0, 255, 0.441);
}